@font-face { font-family: Modak; font-weight: 400; src: url(Modak-Regular.ttf); }

h1 { font-family: Modak; font-size: 3em; background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; transform: rotate(-3deg); }
h1:hover { transform:scale(110%) rotate(1deg); }

@media (prefers-color-scheme: dark) {
h1 { background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
}
h1 + p { transform: rotate(2deg); }
#wallet-status { transform: rotate(-2deg); }
button:hover { transform:scale(104%) rotate(-2deg); }

#mints td.loading * {display:none; }
#mints td.loading:after { content:"Loading..."}
#mints td img { max-width:128px; max-height:128px; cursor:pointer; }

label.check { font-size: 0.7em; font-weight:normal; }

#collection a {}
#collection a img { float:left; margin:0 20px 20px 0; max-width: 20%; }
#collection a:hover img { transform:scale(110%) rotate(-3deg);}
